/*--- Section Line Title ---*/
.section-title.line {
  display: block;
  margin: 0 0 15px 0;
  padding: 0 0 5px 0;
  border-bottom: 3px solid #069e24;
}
/*--- Sidebar ---*/
#sidebar .widget-title {
  margin: 0 0 15px 0;
  padding: 0 0 5px 0;
  border-bottom: 3px solid #069e24;
}
/*--- Bootstrap Fixes ---*/
.modal.fade.in,
.modal.fade.show {
  opacity: 1;
}
.modal-backdrop.fade.show {
  opacity: .5;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  -o-transform: translate(0,0);
  transform: translate(0,0);
}
/*--- Accordion ---*/
.accordion ul.icon-list {
  display: block;
  width: 100%;
}
.accordion ul.icon-list li:before {
  position: relative;
}
/*--- Dashboard ---*/
.page-template-page_dashboard #page section {
  padding-top: 0px;
}
@media screen and (max-width: 600px) {
  .dashboard-title {
    text-align: center;
  }
}
/*--- Dashboard Calendar ---*/
.jsCalendar * {
  display: block;
  box-sizing: border-box !important;
}
.jsCalendar tbody td,
.jsCalendar thead .jsCalendar-week-days th {
  width: calc(100%/7 - 4px) !important;
}
.jsCalendar tbody td.jsCalendar-selected {
  height: 36px !important;
  line-height:36px !important;
}
.jsCalendar.custom-green tbody td.jsCalendar-current {
  background-color: #069e24;
}
.jsCalendar.custom-green *::selection {
  background: #069e24;
}
.jsCalendar.custom-green *::-moz-selection {
  background: #069e24;
}
.jsCalendar.material-theme.custom-green thead {
  background-color: #069e24;
}
.jsCalendar.material-theme.custom-green thead .jsCalendar-nav-left:hover,
.jsCalendar.material-theme.custom-green thead .jsCalendar-nav-right:hover {
  background-color: #069e24;
}
.jsCalendar.classic-theme.custom-green thead {
  background-color: #069e24;
}
.jsCalendar.classic-theme.custom-green thead .jsCalendar-nav-left:hover,
.jsCalendar.classic-theme.custom-green thead .jsCalendar-nav-right:hover {
  background-color: #069e24;
}
#cert-calendar .jsCalendar-selected {
  border-color: #613d89;
  line-height: 32px !important;
}
/*--- Dashboard Upcoming Meeting ---*/
.upcoming-meeting .meeting-date {
  display: block;
  width: 100%;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  margin: 0 0 10px 0;
  padding: 10px;
  border: 1px solid #cccccc;
  color: #069e24;
  background: #eaeaea;
}
/*--- Dashboard Featured Member ---*/
.featured-member {
  display: flex;
  align-items: center;
}
.featured-member .profile-img {
  display: block;
  width: 150px;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.featured-member .profile-img img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
.featured-member .member-details {
  display: block;
  width: calc(100% - 150px);
  padding-left: 15px;
}
.featured-member .member-details .member-title {
  margin-top: 0;
}
.featured-member .member-details .member-title span {
  display: inline-block;
}
@media screen and (max-width: 600px) {
  .featured-member {
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #cccccc;
  }
  .featured-member .profile-img {
    margin: 0 auto 15px auto;
  }
  .featured-member .member-details {
    width: 100%;
  }
}
/*--- Dashboard Featured Speaker ---*/
.sc-featured-speaker {
  display: flex;
  align-items: center;
}
.sc-featured-speaker #speaker-img {
  display: block;
  width: 200px;
  height: 225px;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.sc-featured-speaker .speaker-details {
  display: block;
  width: calc(100% - 200px);
  padding-left: 15px;
}
.sc-featured-speaker .speaker-details .spaker-name {
  margin-top: 0;
}
.sc-featured-speaker .speaker-details ul.icon-list {
  margin-bottom: 0 !important;
}
.sc-featured-speaker .speaker-details .icon-list > li:last-of-type {
  margin-bottom: 0;
}
@media screen and (max-width: 600px) {
  .sc-featured-speaker {
    flex-wrap: wrap;
    text-align: center;
  }
  .sc-featured-speaker #speaker-img {
    margin: 0 auto 15px auto;
  }
  .sc-featured-speaker .speaker-details {
    width: 100%;
  }
}
/*--- Calculator List ---*/
.accordion ul.icon-list.calculator li:before {
  content: "\f1ec";
  top: 7px;
}
.accordion ul.icon-list.ebook li:before {
  content: "\f02d";
  top: 5px;
}
.accordion ul.icon-list.diagnostic li:before {
  content: "\f080";
}
.accordion ul.icon-list.worksheet li:before {
  content: "\f15c";
  top: 5px;
}
.accordion ul.icon-list.video li:before {
  content: "\f03d";
}
/*--- Tooltip Fixes ---*/
/* Hide tooltip on user account page. otherwise it messes up the "edit profile pic" button */
.uwp_account_page .tooltip.fade.show {
  pointer-events: none;
  display: none !important;
}
/*--- Video Modal ---*/
.video-modal .modal-dialog {
  max-width: 720px;
  width: 100%;
}
/*--- Speakers Archive ---*/
.speakers-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.speakers-wrap .speaker-item {
  padding-top: 15px;
  padding-bottom: 15px;
}
.speakers-wrap .speaker-item article {
  height: 100%;
  border: 1px solid #cccccc;
}
.speaker-item .speaker-img {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.speaker-item .speaker-content {
  padding: 15px;
}
.speaker-item .speaker-name {
  margin-top: 0;
}
/*--- Single Speaker ---*/
.single-speakers .site-content {
  min-height: 75vh;
}
.single-speakers #primary {
  padding-top: 60px;
}
.single-speakers .entry-header {
  display: block;
  width: 100%;
  clear: both;
}
.single-speakers .entry-header:after {
  content: "";
  display: block;
  clear: both;
}
.single-speakers .entry-header #speaker-img {
  display: block;
  width: 250px;
  height: 300px;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  float: left;
}
.single-speakers .entry-header .header-content {
  display: block;
  width: calc(100% - 250px);
  margin: 0;
  padding: 0 0 0 15px;
  float: left;
}
/* Single Speaker | Meeting Details */
.meeting-details .meeting-date {
  display: block;
  width: 100%;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  margin: 0 0 10px 0;
  padding: 10px;
  border: 1px solid #cccccc;
  color: #069e24;
  background: #eaeaea;
}
.meeting-details ul.icon-list.files {
  display: block;
  width: 100%;
}
.meeting-details ul.icon-list.files li.audio:before {
  content: "\f028";
  top: 5px;
}
.meeting-details ul.icon-list.files li.cross:before {
  content: "\f00d";
  top: 5px;
}
/*--- Meetings Archive ---*/
.post-type-archive-meetings .meeting-item {
  display: block;
  width: 100%;
  margin: 0 0 30px 0;
  clear: both;
}
.post-type-archive-meetings .meeting-item:after {
  content: "";
  display: block;
  clear: both;
}
.post-type-archive-meetings .meeting-item .meeting-img {
  display: block;
  width: 200px;
  height: 200px;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  float: left;
}
.post-type-archive-meetings .meeting-item .meeting-content {
  display: block;
  width: calc(100% - 200px);
  margin: 0;
  padding: 0 15px 15px 15px;
  float: left;
}
.post-type-archive-meetings .meeting-item .meeting-title {
  display: block;
  margin: 0 0 15px 0;
  padding: 0 0 5px 0;
  border-bottom: 3px solid #069e24;
}
.post-type-archive-meetings .meeting-item .meeting-title a {
  color: #000000;
}
.post-type-archive-meetings .meeting-item .meeting-date {
  display: block;
  width: 100%;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  margin: 0 0 10px 0;
  padding: 10px;
  border: 1px solid #cccccc;
  color: #069e24;
  background: #eaeaea;
}
.post-type-archive-meetings .meeting-item .icon-list {
  display: block;
  width: 100%;
}
/*--- Single Meeting ---*/
.single-meetings .site-content {
  min-height: 75vh;
}
.single-meetings #primary {
  padding-top: 60px;
}
/* Single Meeting | Speaker Details */
.single-meetings #sidebar .featured-speaker {
  text-align: center;
}
.single-meetings #sidebar .featured-speaker .widget-title {
  text-align: left;
}
.single-meetings #sidebar #speaker-img {
  display: block;
  width: 200px;
  height: 225px;
  margin: 0 auto;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}