/*--- Bootstrap Fixes ---*/
.modal.fade.in,
.modal.fade.show {
  opacity: 1;
}
.modal-backdrop.fade.show {
  opacity: .5;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  -o-transform: translate(0,0);
  transform: translate(0,0);
}
/*--- Accordion ---*/
.accordion ul.icon-list {
  display: block;
  width: 100%;
}
.accordion ul.icon-list li:before {
  position: relative;
}
/*--- Calculator List ---*/
.accordion ul.icon-list.calculator li:before {
  content: "\f1ec";
  top: 7px;
}
.accordion ul.icon-list.ebook li:before {
  content: "\f02d";
  top: 5px;
}
.accordion ul.icon-list.diagnostic li:before {
  content: "\f080";
}
.accordion ul.icon-list.worksheet li:before {
  content: "\f15c";
  top: 5px;
}
.accordion ul.icon-list.video li:before {
  content: "\f03d";
}
/*--- Tooltip Fixes ---*/
/* Hide tooltip on user account page. otherwise it messes up the "edit profile pic" button */
.uwp_account_page .tooltip.fade.show {
  pointer-events: none;
  display: none !important;
}
/*--- Video Modal ---*/
.video-modal .modal-dialog {
  max-width: 720px;
  width: 100%;
}
/*--- Speakers Archive ---*/
.speakers-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.speakers-wrap .speaker-item {
  padding-top: 15px;
  padding-bottom: 15px;
}
.speakers-wrap .speaker-item article {
  height: 100%;
  border: 1px solid #cccccc;
}
.speaker-item .speaker-img {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.speaker-item .speaker-content {
  padding: 15px;
}
.speaker-item .speaker-name {
  margin-top: 0;
}