/*--- Toolbar Menu / CERT site picker ---*/
#toolbar .menu > li {
  position: relative;
}
#toolbar .menu > li > ul {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 125px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: 0 2px 5px rgba(0,0,0,0.25);
}
#toolbar .menu > li.menu-item-has-children:hover > ul,
#toolbar .menu > li.menu-item-has-children:focus > ul {
  display: block;
}
#toolbar .menu > li > ul li {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #cccccc;
}
#toolbar .menu > li > ul li a {
  display: block;
  width: 100%;
  margin: 0;
  padding: 10px;
}
#toolbar .menu > li > ul li a:hover {
  background: #eaeaea;
}
#toolbar-mobile .menu ul.sub-menu {
  display: block;
  margin: 5px 0 0 0;
  padding: 0 0 0 15px;
  list-style: none;
}
#toolbar-mobile .menu ul.sub-menu li a {
  display: block;
  margin: 0;
  padding: 5px;
}
/*--- Bootstrap Fixes ---*/
.modal.fade.in,
.modal.fade.show {
  opacity: 1;
}
.modal-backdrop.fade.show {
  opacity: .5;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  -o-transform: translate(0,0);
  transform: translate(0,0);
}
/*--- Hide Header Menu and toolbar on Calculator pages ---*/
.page-template-page_calculator .site-header .navbar-toggle,
.page-template-page_calculator .site-header #toolbar,
.page-template-page_calculator .floating-button,
.page-template-page_calculator #menu-float {
  display: none !important;
}
/*--- Video Modal ---*/
.video-modal .modal-dialog {
  max-width: 720px;
  width: 100%;
}
/*--- Tooltip Fixes ---*/
/* Hide tooltip on user account and profile page. otherwise it messes up the "edit profile pic" and "edit profile" button */
.uwp_account_page .tooltip.fade.show,
.uwp_profile_page .tooltip.fade.show {
  pointer-events: none;
  display: none !important;
}