/*--- Bootstrap Fixes ---*/
.modal.fade.in,
.modal.fade.show {
  opacity: 1;
}
.modal-backdrop.fade.show {
  opacity: .5;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  -o-transform: translate(0,0);
  transform: translate(0,0);
}
/*--- Hide Header Menu and toolbar on Calculator pages ---*/
.page-template-page_calculator .site-header .navbar-toggle,
.page-template-page_calculator .site-header #toolbar,
.page-template-page_calculator .floating-button,
.page-template-page_calculator #menu-float {
  display: none !important;
}
/*--- Video Modal ---*/
.video-modal .modal-dialog {
  max-width: 720px;
  width: 100%;
}
/*--- Tooltip Fixes ---*/
/* Hide tooltip on user account and profile page. otherwise it messes up the "edit profile pic" and "edit profile" button */
.uwp_account_page .tooltip.fade.show,
.uwp_profile_page .tooltip.fade.show {
  pointer-events: none;
  display: none !important;
}